<root>
  <keyword name="food">
    <value>5</value>
    <ad>https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/220px-Good_Food_Display_-_NCI_Visuals_Online.jpg</ad>
  </keyword>
  <keyword name = "sweets">
    <value>4</value>
    <ad>https://cdn2.bigcommerce.com/server5100/4030hufb/products/1295/images/2407/Sweets_Sept_17_0020__52696.1507070952.500.750.jpg?c=2</ad>
  </keyword>
  <keyword name = "fruit">
    <value>4</value>
    <ad>https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Culinary_fruits_front_view.jpg/220px-Culinary_fruits_front_view.jpg</ad>
  </keyword>
  <keyword name = "cake">
    <value>3</value>
    <ad>https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/04/rosewater-raspberry-sponge-cake.jpg?itok=xTddhFJ9</ad>
  </keyword>
  <keyword name = "Chocolate">
    <value>3</value>
    <ad>https://s3.envato.com/files/243606210/DSC_3927.jpg</ad>
  </keyword>
  <keyword name = "grape">
    <value>2</value>
    <ad>https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Table_grapes_on_white.jpg/220px-Table_grapes_on_white.jpg</ad>
  </keyword>
  <keyword name = "toffee">
    <value>2</value>
    <ad>https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Thorntonstoffee.jpg/250px-Thorntonstoffee.jpg</ad>
  </keyword>
  <keyword name = "twix">
    <value>1</value>
    <ad>https://cdn.shopify.com/s/files/1/0972/7116/products/twix-cookie-bar_1024x1024.png?v=1492192448</ad>
  </keyword>
  <keyword name = "mango">
    <value>1</value>
    <ad>https://i5.walmartimages.ca/images/Large/188/9_r/6000191271889_R.jpg</ad>
  </keyword>
</root>
