<!DOCTYPE html>
<html lan="en">
  <head>
    <!--Variable title based on server, will display current server-->
    <title>Server{{ server }} Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Importing all required dependencies for bootstrap & jquery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--Create navigation bar to hold links to other pages-->
    <nav class="navbar navbar-expand-sm bg-light">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ServerA/view">Server A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ServerB/view">Server B</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ServerC/view">Server C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ServerD/view">Server D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ServerE/view">Server E</a>
        </li>
      </ul>
    </nav>
    <!--Content is wrapped in a container to center it and give it a responsive position on screen-->
    <div class="container">
      <!--Spans have been embeded within headings so that information can be injected
      later, span used over div to prevent new line on content-->
      <div class="row">
        <h1>Server {{ server }} </h1>
      </div>
      <div class="row">
        <h3>This Server has Posted <span id = "Wins"></span> Ads<h3/>
      </div>
      <div class="row">
        <h3>Server Strategy: <span id = "Strategy"></span></h3>
      </div>
      <div class="row">
        <h3>Server Funds: <span id = "Budget"></span>p<h3/>
      </div>
      <div class="row">
        <h3>Topping Up Every <span id = "Interval"></span> Seconds</h3>
      </div>
      <canvas id="myChart"></canvas>
    </div>
  </body>
  <!--Static reference to JS module, this allows the module to be found on the Server
  regardless of where we are searching from-->
  <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js') }}"></script>
  <script>
    //JS to create a chart within the canvas element, some variables are set now
    //but data is assigned programatically later
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data:{
          labels:[],
          datasets: [{
            label: 'Bid',
            data: [],
            backgroundColor: 	['rgba(0, 0, 200, 0.5)']
          },
          {
            label: 'Winning Bid',
            data: [],
            backgroundColor: ['rgba(200, 0, 0, 0.5)']
          }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        max: 50,
                        beginAtZero:true
                    }
                }]
            }
        }
    });
  </script>
  <!--Script to constantly poll the server for new information-->
  <script type=text/javascript>
    //Poll request runs on a 1 second interval to keep constant updates
    setInterval(function updatePage(){
      //Post uses server variable to determine correct server to post to
      $.post('http://127.0.0.1:5000/Server{{ server }}/update',
      //When we recieve a URL response, set it as the source of the second image
      function(res){
        //response is recieved as string, split it back into list
        var formattedResponse = res.split(",");
        //set span elements using post response
        $('#Wins').text(formattedResponse[0]),
        $('#Strategy').text(formattedResponse[1]),
        $('#Budget').text(formattedResponse[2]),
        $('#Interval').text(formattedResponse[3])
        //go through the rest of the information as we can safely assume
        //it is data of bids & add it to the chart
        var i;
        var offers = formattedResponse. slice(4);
        for (i = 0; i < offers.length; i += 2) {
          bidNo = Math.ceil((i+1)/2);
          myChart.data.labels[i] = ("Bid #" + String(bidNo));
          console.log(offers[i+1]);
          if (offers[i+1] == "False"){
            myChart.data.datasets[0].data[i] = offers[i];
            myChart.data.datasets[0].backgroundColor[i] = 'rgba(0, 0, 200, 0.5)';
          }
          else if (offers[i+1] == "True"){
            console.log('Ping');
            myChart.data.datasets[1].data[i] = offers[i];
            myChart.data.datasets[1].backgroundColor[i] = 'rgba(200, 0, 0, 0.5)';
          }
        }
        //Apply the changes to the chart
        myChart.update();
      });
    }, 1000);
  </script>
</html>
