<html>
  <head>
    <title>Advertising Request</title>
  </head>
  <body>
    <h2>Make a request:</h2>
    <!--Basic form to post user input back to server-->
    <form action="" method="POST">
      <input name="keyinput" type="text" class="keywords" placeholder="Enter Keyword"/>
      <input type="submit"/>
    </form>
    <!--Checks the ad variable, if it is null display a default image, else use the url in ad-->
    {% if ad1 %}
      <img height = 100 width = 100 src = {{ ad1 }} />
    {% else %}
      <img height = 100 width = 100 src ='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/220px-Good_Food_Display_-_NCI_Visuals_Online.jpg'/>
    {% endif %}
    <img height = 100 width = 100 id = "ad2"/>
    <!--Script required to use jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type=text/javascript>
      //Only trigger this if keywords have been recieved already
      if ('{{words}}' != '') {
        //Function to trigger on page load
        $(function() {
          //Send the keywords to the endpoint /secondAD
          $.post('/secondAD',
          {
            keywords: '{{words}}'
          },
          //When we recieve a URL response, set it as the source of the second image
          function(AdURL){
            $('#ad2').attr("src",AdURL)
          });
        });
      }
    </script>
  </body>
</html>
