<html>
  <head>
    <title>Advertising Request</title>
  </head>
  <body>
    <h2>Make a request:</h2>
    <!--Basic form to post user input back to server-->
    <form action="" method="POST">
      <input name="keyinput" type="text" class="keywords" placeholder="Enter Keyword"/>
      <input type="submit"/>
    </form>
    <!--Checks the ad variable, if it is null display a default image, else use the url in ad-->
    {% if ad %}
      <img src = {{ ad }} />
    {% else %}
      <img src ='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/220px-Good_Food_Display_-_NCI_Visuals_Online.jpg'/>
    {% endif %}
  </body>
</html>
